/* Form styling */
.form-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 40px;
    border-radius: 5px;
    color: black;
    font-family: 'Nunito', sans-serif; 
}
.form-container button{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 15px;
    margin-bottom: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.btn-form {
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.link {
    color: #4CAF50;
    text-decoration: none;
}
.gs-link {
    color: #fff;
    text-decoration: none;
}

.abt-body-accounts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: #4CAF50;
}
.footer-container {
    background-color: #4CAF50;
    color: #fff;
}
.footer-container-form {
    background-color: #fff;
    color: #4CAF50;
}
.footer-container-2 {
    display: flex;
    height: 70px;
    color: #FFFFFF;
    padding: 0 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
}
@media screen and (max-width: 700px) {
    .form-container {
        width: 70%;
    }
}
@media screen and (max-width: 400px) {
    .form-container {
        width: 80%;
    }
}